<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.techtown.app_addition2_test">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="불법삐삐팀"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_addition2_test"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyASXorgfXVLllrbY7w4r6N65-KHpO7fXG4" />

        <activity
            android:name=".Gongji2Activity"
            android:exported="false" />

        <activity
            android:name=".MainActivity2"
            android:exported="false" />

        <activity
            android:name=".GongjiActivity"
            android:exported="false" />

        <activity
            android:name=".FQA_Activity"
            android:exported="false" />


        <activity
            android:name=".Change2Activity"
            android:exported="false" />

        <activity
            android:name=".ChangeActivity"
            android:exported="false" />

        <activity
            android:name=".MainToList3Activity"
            android:exported="false" />

        <activity
            android:name=".MainToList2Activity"
            android:exported="false" />

        <activity
            android:name=".MainToListActivity"
            android:exported="false" />

        <activity
            android:name=".BookmarkActivity"
            android:exported="false" />

        <activity
            android:name=".SignupActivity"
            android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <activity
            android:name=".SettingActivity"
            android:exported="false" />

        <activity
            android:name=".NotificationActivity"
            android:exported="false" />

        <activity
            android:name=".CarRegisterActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">





            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>